<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArtistBrowser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lukasbahrle-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA419A9925E685DA002B1782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA419AA125E685DA002B1782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4536C025E2467A0051B93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4536D625E2467C0051B93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4536E125E2467C0051B93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
